.button {
    width: 300px;
    height: 65px;
    background: #00C78B;
    color: white;
    font-weight: 700;
    border-radius: 30px;
}
.button:hover{
    color: black;
}
.wrapper{
    position: relative;
}
.list{
    position: absolute;
    width: 300px;
    padding: 20px 52px;
    color: white;
    background: #00C78B;
    font-weight: 700;
    border-radius: 30px;
    top: 68px;
    left: 0;
}
.item{
    cursor: pointer;
    line-height: 36px;
    margin-bottom: 10px;
}
.item:last-child{
    margin-bottom: 0;
}
.linkActive{
    color:red;
}



@media screen and (max-width: 1024px){

    .button{
        width: 220px;
        height: 45px;
        font-size: 14px;
    }
}